body {
    background-color: bisque;
}

.resaltdo{
    background-color: blueviolet;
    color: white;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: yellow;
}

nav a:hover {
    background-color: blueviolet;
    color: black;
    font-size: 18px;
}
th {
    background-color: grey;
    color: black;
}

tr:nth-child(even){
    background-color: grey;
    color: black;
}

tr:nth-child(odd){
    background-color: violet;
    color: black;
}



